<style>
  .search-btn {
    background-color: #fe424d;
    color: #fff;
    border-radius: 25px;
    padding: 0 1rem;
  }

  .search-btn:hover {
    background-color: #fe424d;
    color: #fff;
  }

  .search-btn i {
    margin-right: 0.5rem;
  }

  .search-inp {
    border-radius: 25px;
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
  }

  @media (max-width: 991.98px) {
    .navbar-collapse {
      background-color: #fff;
      padding: 1rem;
    }
    .navbar-nav .nav-link {
      margin: 0.5rem 0;
    }
  }
</style>

<nav class="navbar navbar-expand-lg bg-body-light border-bottom sticky-top shadow-sm">
  <div class="container-fluid">
    <!-- Logo -->
    <a class="navbar-brand" href="/listings">
      <i class="fa-regular fa-compass"></i>
    </a>

    <!-- Hamburger toggle button -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="/listings">Explore</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/listings/new">Airnb new Home</a>
        </li>
      </ul>

      <!-- Search Form -->
      <form class="d-flex me-3" role="search">
        <input class="form-control search-inp me-2" type="search" placeholder="Enter Destination" aria-label="Search">
        <button class="btn search-btn" type="submit">
          <i class="fa-solid fa-magnifying-glass"></i> Search
        </button>
      </form>

      <!-- Auth Buttons -->
      <ul class="navbar-nav text-center">
        <% if (!currUser) { %>
          <li class="nav-item">
            <a class="nav-link" href="/signup"><b>Signup</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login"><b>Login</b></a>
          </li>
        <% } else { %>
          <li class="nav-item">
            <a class="nav-link" href="/logout"><b>Logout</b></a>
          </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>
